<div class="modal" id="editEventModal">
  <div class="modal-dialog">
      <div class="modal-content">
            <div class="modal-header">
                <h4 class="mb-3">스케줄 조정 <span id="date"></span></h4>
            </div>
            <div class="modal-body">
                <label for="enabeld">사입 요청 여부 : </label>
                <input type="checkbox" id="enabled" name="enabled"><br><br>
                <label for="time">사입 요청 시각 : </label>
                <input type="time" id="time" name="time"><br><br>
            </div>
            <div class="modal-header">
                <br>
                <button type="button" onclick="edit_event()">적용하기</button>
                <br><br>
            </div>
      </div>
  </div>
</div>

<% content_for :javascript do %>
<script>
    function edit_event(){
        let date = $('#editEventModal #date').text();
        let params = {  
            purchase_schedule:{
                time: $('#editEventModal #time').val(),
                enabled: $('#editEventModal #enabled').prop('checked')
            }
        };
        create_or_edit_event(date, params);
    }
</script>
<% end %>