<h1>calendar</h1>
<div id='calendar'></div>

<% content_for :stylesheet do %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css">
<% end %>

<% content_for :javascript do %>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/locales-all.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                locale: 'kr',
                initialView: 'dayGridMonth',
                events: function(info, successCallback, failureCallback) {
                    console.log(info)
                    $.get('/schedule/events', function(data){
                        console.log(data)
                    })
                },
                eventClick: function(info) {
                    // console.log(info.event.start)
                    // console.log(info.event.allDay)
                    // change the border color just for fun
                    info.el.style.borderColor = 'red';
                }
            });
            calendar.render();
        });

    </script>
<% end %>