<h1>calendar</h1>
<div id='calendar'></div>
<%= render "modal" %>

<% content_for :stylesheet do %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css">
    <style>
        .fc-daygrid-dot-event {
            padding: 10px 10px;
        }
    </style>
<% end %>

<% content_for :javascript do %>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/locales-all.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                timeZone: 'local',
                locale: 'kr',
                initialView: 'dayGridMonth',
                events: function(info, successCallback, failureCallback) {
                    $.ajax({
                        type: "GET",
                        url: '/schedule/events', 
                        data: {start_date: info.start.valueOf(), end_date: info.end.valueOf()},
                        success: function(result){
                            event_array = result.data.map(function(event){
                                return {
                                    start: `${event.date}T${event.time||'22:00'}:00`,
                                    allDay: false,
                                    color: event.enabled ? 'blue' : 'red'
                                }
                            })
                            successCallback(event_array);
                        }
                    })
                },
                eventClick: function(info) {
                    // console.log(info.event.start)
                    // console.log(info.event.allDay)
                    // change the border color just for fun
                    get_event_info(info)
                    $('#eventModifyModal').modal('show');
                    info.el.style.borderColor = 'red';
                }
            });
            calendar.render();

            $('#submitButton').click(function(){
                date = $('#date').text();
                params = {
                    purchase_schedule:{
                        time: $('#time').val(),
                        enabled: $('#enabled').prop('checked')
                    }
                }
                $.ajax({
                    type: "PUT",
                    url: `/schedule/${date}`, 
                    data: params,
                    success: function(result){
                        location.reload();
                    }
                })
            })
        });

        function get_event_info(info){
            date = strftime(info.event.start);
            $('#date').text(date);
            $.ajax({
                type: "GET",
                url: `/schedule/${date}`, 
                success: function(result){
                    $("#enabled").prop("checked", result.data.enabled);
                    $("#time").val(result.data.time);
                }
            })
        }

        function strftime(time){
            //yyyy-mm-dd format
            return time.toISOString().split('T')[0];
        }

    </script>
<% end %>